section {
    background-color: grey; 
    width: 90%; 
    margin: 15px; 
    padding: 10px; 
    height: 80px;
}

.space {
    float: left;
    width: 30px;
}

.button {
    float: left;
    background-color: darkgrey;
    height: 95%;
    text-align: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(121, 120, 120);
}

#result {
    background-color: grey;
    padding-top: 10px;
    height: 90%;
    font-size: 65px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#calculation {
    background-color: grey;
    padding-top: 10px;
    height: 90%;
    font-size: 65px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}